<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is my journey to learn Ruby on Rails. Hopefully over the next few weeks I will be able to learn enough to build our product!</a>.</p>
    </div>
</div>
